# Tailwind source
package.json
package-lock.json
tailwind.config.js
postcss.config.js

# Node modules
node_modules/

# Tailwind source folder (ako postoji)
src/

# Temp files
*.map
*.log

# OS crap
.DS_Store
Thumbs.db
