# Node / Build sistemi – NIKADA ne idu na GitHub
node_modules/
tailwind/
hyva-ui-2.6.1/
vendor/
.dist/
build/
.cache/
.pnp/

# Tailwind / PostCSS fajlovi koje koristimo samo lokalno
package.json
package-lock.json
pnpm-lock.yaml
yarn.lock
postcss.config.js
tailwind.config.js
tailwind-source.css

# Magento static build folder (uvek se generiše)
pub/static/

# OS fajlovi
.DS_Store
Thumbs.db

# Logovi
*.log

# PhpStorm / VSCode
.idea/
.vscode/

# Backup
*.bak
*.tmp

# Sve što ne sme da se šalje na server
*.map
